{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>User list</h1>
    <ul>
        {% for user in users %}
            <li>
                <ul>
                    <li>name : {{ user.lastname }} {{ user.firstname }}</li>
                    <li>films : {% for film in user.films() %}
                            <br>{{ film.title }} - {{ film.publicRating }} / {{ film.pressRating }}
                        {% endfor %}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
